.content {
	position: absolute;
	top: 118px;
	bottom: 0;
	width: 100%;

	cursor: pointer;
}

.top {
	height: 50%;
	width: 100%;
  display: flex;
}

.bot {
	height: 50%;
	width: 100%;
  display: flex;
}

.topleft {
	width: 100%;
	align-items: stretch;
	background: url('../pics/tasty-burger-9.jpg') no-repeat;
	background-size: 100%;
	background-position: center;
}

.topright {
	width: 100%;
	align-items: stretch;
	background: url('../pics/cocktail.jpg') no-repeat;
	background-size: 100%;
	background-position: center;
}

.botleft {
	width: 100%;
	align-items: stretch;
	background: url('../pics/wings.jpg') no-repeat;
	background-size: 100%;
	background-position: center;
}

.botright {
	width: 100%;
	align-items: stretch;
	background: url('../pics/cake.jpg') no-repeat;
	background-size: 100%;
	background-position: center;
}

.topleft:hover #tl {
	display: block;
}

.topright:hover #tr {
	display: block;
}

.botleft:hover #bl {
	display: block;
}

.botright:hover #br {
	display: block;
}

h3 {
	width: 100%-40px;
	height: 90%;
	font-family: Bookman;
	padding: 20px;
	margin: 0px;
	font-size: 30pt;
	display: none;
	color: white;
	background-color: black;
	opacity: .3;
}
